<li><a id="auto" class="air-purifier-mode dropdown-item" href="#">Auto Mode</a></li>
<li><a id="silent" class="air-purifier-mode dropdown-item" href="#">Night Mode</a></li>
<li><a id="favorite" class="air-purifier-mode dropdown-item" href="#">Favorite</a></li>