<footer class="text-muted">
    <div class="container text-center">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>
            Wanna check my other site? <a href="https://stevedprogrammer.vercel.app/">Click here</a> to give it a look.
            <p class="mt-5 mb-3 text-muted">&copy; SteveDProgrammer</p>
        </p>
    </div>
</footer>
<script src="js/script.js"></script>
</body>

</html>